/* setup all variables used in this css */
:root {
    --black-bg-color: #000;
    --almost-bg-color: rgb(45, 45, 45);
    --darkes-bg-color: #404258;
    --dark-bg-color: rgb(71, 79, 105);
    --light-bg-color: rgb(81, 88, 123);
    --lighter-bg-color: #6B728E;
    --white-bg-color: #fff;
    --white-color: #fff;
    --almostwhite-color: #faf9f6;
    --gold-color: rgb(201, 171, 129);
}

/* reset body styles  */
body {
    margin: 0;
    font-size: calc(15px + 0.390625vw);
}

/**
 * HEADER & FOOTER 
 * Styles used on the header and footer.
 * -------------------------------------------------------------------
 */

/* top & bottom line small text content - common styles */
.smalltext-content {
    background-color: var(--black-bg-color);
    color: var(--white-color);
    font-family: Roboto Slab;
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
    line-height: calc(0.8rem + 0.8vw);
    font-weight: 100;
    letter-spacing: 1px;
}

/* header section on the page top */
.header-section {
    letter-spacing: 0px;
}

/* footer section on the page bottom */
.footer-section {
    border-top: 3px solid var(--gold-color);
    letter-spacing: 1px;
}

/* navigation bar section */
.navbar-section {
    background-color: var(--almost-bg-color);
    color: var(--almostwhite-color);
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.2rem;
    letter-spacing: 0px;
}

/**
 * TOP BANNERS 
 * Each page starts with a section with a background image.
 * -------------------------------------------------------------------
 */

/* top banners section common styles */
.topbanner-section {
    padding-top: calc(1.5rem + 20vh);
    padding-bottom: calc(1.5rem + 20vh);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 10px solid rgba(201, 171, 129, 0.4);
}

/* top banner in the Home page - 100% width and background image */
.mainpage-bannertop {
    background-image: url(../img/iulian-aghei-q_xW-2ICvfA-unsplash-640x480.jpg);
}

/* top banner in the Menu pages - 100% width and background image */
.menupage-bannertop {
    background-image: url(../img/pexels-naim-benjelloun-2291591-1280x853px.jpg);
}

/* top banner in the Tasting pages - 100% width and background image */
.tastingpage-bannertop {
    background-image: url(../img/pexels-los-muertos-crew-7613432-1920x1281px.jpg);
}

/* top banner in the Contact pages - 100% width and background image */
.contactpage-bannertop {
    background-image: url(../img/amin-hasani-Bj1BywJp0JM-unsplash-640x480.jpg);
}

/* .md > | medium devices and up (tablets) 768px and up */
@media screen and (min-width: 768px) {
    .mainpage-bannertop {
        background-image: url(../img/iulian-aghei-q_xW-2ICvfA-unsplash-2400x1602.jpg);
    }
    .menupage-bannertop {
        background-image: url(../img/pexels-naim-benjelloun-2291591-1920x1280px.jpg);
    }
    .tastingpage-bannertop {
        background-image: url(../img/pexels-los-muertos-crew-7613432-1920x1281px.jpg);
    }    
    .contactpage-bannertop {
        background-image: url(../img/amin-hasani-Bj1BywJp0JM-unsplash-2400x1602.jpg);
    }  
}

/**
 * SECTION SEPARATORS
 * On some pages we use a section separator, using a container 
 * with a background image.
 * -------------------------------------------------------------------
 */

/* section container for section separator */
.section-break {
    padding-top: calc(1.5rem + 45vh);
    padding-bottom: calc(1.5rem + 45vh);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    background-color: var(--dark-bg-color);
}

/* background for section separator */
.background-img-1 {
    background-image: url(../img/rest-vb-empanadas-criollas-640x480.jpg);
}

/* background for section separator */
.background-img-2 {
    background-image: url(../img/rest-vb-ensalada-delbarrio-640x480.jpg);
}

/* background for section separator */
.background-img-3 {
    background-image: url(../img/rest-vb-bife-640x480.jpg);
}

/* background for section separator */
.background-img-4 {
    background-image: url(../img/rest-vb-copa-delbarrio-640x480.jpg);
}

/* background for section separator */
.background-img-5 {
    background-image: url(../img/rest-vb-mollejas-640x480.jpg);
}

/* background for section separator */
.background-img-6 {
    background-image: url(../img/fabrizio-magoni-boaDpmC-_Xo-unsplash-1920x1126.jpg);
}
/* background for section separator */
.background-img-7 {
    background-image: url(../img/pexels-caio-59598-1920x1221px.jpg);
}

/* .md > | Medium devices and up (tablets) 768px and up */
@media screen and (min-width: 768px) {
    .background-img-1 {
        background-image: url(../img/rest-vb-empanadas-criollas.jpg);
    }
    
    .background-img-2 {
        background-image: url(../img/rest-vb-ensalada-delbarrio.jpg);
    }
    
    .background-img-3 {
        background-image: url(../img/rest-vb-bife.jpg);
    }
    
    .background-img-4 {
        background-image: url(../img/rest-vb-copa-delbarrio.jpg);
    }
}

/**
 * SECTIONS CONTAINERS
 * Containers we use to create page content sections 
 * -------------------------------------------------------------------
 */

/* content section - 100% width and background image */
.carousel-section {
    background-color: var(--dark-bg-color);
}

/* section background dark */
.content-section-dark {
    padding: 80px 40px 80px 40px;
    background-color: var(--dark-bg-color);
}

/* section background light */
.content-section-light {
    padding: 80px 40px 80px 40px;
    background-color: var(--light-bg-color);

}

/**
 * MISCELLANEOUS
 * Decorators and other special elements styles 
 * -------------------------------------------------------------------
 */

/* decorator to separate title and content */
.decorator-line {
    color: var(--gold-color);
    font-family: Libre Baskerville;
    text-align: center;
    font-size: calc(0.6rem + 0.3vw);
    font-weight: 100;
    line-height: calc(0.6rem + 0.8vw);
    letter-spacing: 5px;
}

/**
 * TITLES
 * Different sizes of titles 
 * -------------------------------------------------------------------
 */

/* title common styles */
.title {
    color: var(--almostwhite-color);
    font-family: Libre Baskerville;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

/* title heading for main page */
.page-title {
    font-size: calc(1.525rem + 3.3vw);
    line-height: calc(1.525rem + 5vw);
    letter-spacing: 10px;
}

/* title heading for secondary pages */
.secondarypage-title {
    font-size: calc(1.525rem + 2.3vw);
    line-height: calc(1.525rem + 4vw);
    letter-spacing: 8px;
}

/* title heading for any content section */
.section-title {
    font-size: calc(1.1rem + 0.3vw);
    line-height: calc(1.1rem + 0.8vw);
    letter-spacing: 4px;
}

/* title heading for the review section */
.review-section-title {
    color: var(--gold-color);
    font-family: Satisfy;
    font-size: calc(1.525rem + 4vw);
    line-height: calc(1.525rem + 6vw);
}

/* title style for small information blocks  */
.small-block-title {
    color: var(--gold-color);
    font-size: calc(0.4rem + 0.8vw);
    line-height: calc(0.5rem + 1.0vw);
}

/**
 * SUBTITLES
 * Different sizes of subtitles 
 * -------------------------------------------------------------------
 */

/* subtitle common styles */
.subtitle {
    color: var(--gold-color);
    font-family: Satisfy;
    text-align: center;
    font-weight: 300;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

/* subtitle heading for any content section  */
.page-subtitle {
    font-size: calc(1.525rem + 1.3vw);
    line-height: calc(1.525rem + 3vw);
}

/* subtitle heading for any content section  */
.section-subtitle {
    font-size: calc(1.1rem + 1vw);
    line-height: calc(1.1rem + 2vw);
}

/**
 * GENERAL TEXT
 * Styles used on text contents in differents sections 
 * -------------------------------------------------------------------
 */

/* commont text style */
.text {
    color: var(--almostwhite-color);
    font-family: Roboto Slab;
    text-align: center;
    font-weight: 100;
}

/* paragraph text for any content section */
.text-content {
    font-size: calc(0.8rem + 0.3vw);
    line-height: calc(0.9rem + 0.8vw);
}

.small-text-content {
    font-size: calc(0.8rem + 0.3vw);
    line-height: calc(0.9rem + 0.8vw);
    text-align: left;
}

/**
 * REVIEW
 * Styles used on text contents in review sections 
 * -------------------------------------------------------------------
 */

/* review text common styles */
.review-text {
    color: var(--almostwhite-color);
    font-family: Roboto Slab;
    text-align: center;
    font-weight: 100;
}

/* review text */
.review-section-text {
    font-size: calc(1.1rem + 1vw);
    line-height: calc(1.2rem + 2vw);
}

/* review author */
.review-section-author {
    color: var(--gold-color);
    font-size: calc(0.8rem + 0.8vw);
    line-height: calc(0.9rem + 0.9vw);
}

/* review date */
.review-section-date {
    font-size: calc(0.5rem + 0.8vw);
    line-height: calc(0.6rem + 0.9vw);
}

/**
 * PRODUCT
 * Styles used on text in product sections 
 * -------------------------------------------------------------------
 */

 /* product text commont styles */
.product-text {
    color: var(--almostwhite-color);
    font-family: Roboto Slab;
    font-weight: 100;
    text-align: left;
    letter-spacing: 1px;
}

/* product name */
.product-name {
    font-size: calc(0.8rem + 0.8vw);
    line-height: calc(0.9rem + 0.9vw);
    color: var(--gold-color);
}

/* product description */
.product-description {
    font-size: calc(0.6rem + 0.6vw);
    line-height: calc(0.7rem + 0.7vw);
}

/* product price */
.product-price {
    font-size: calc(0.4rem + 0.7vw);
    font-weight: 200;
    line-height: calc(0.6rem + 0.9vw);
    letter-spacing: 2px;
    color: var(--gold-color);
}

/* product description */
.product-list {
    list-style-type: none;
    padding-left: 0;
}

.product-list li {
    color: var(--almostwhite-color);
    font-family: Roboto Slab;
    text-align: center;
    font-weight: 100;
    text-align: left;
    letter-spacing: 1px;
}

.product-list li span {
    font-size: calc(0.4rem + 0.7vw);
    font-weight: 200;
    line-height: calc(0.6rem + 0.9vw);
    letter-spacing: 2px;
    color: var(--gold-color);
}

.product-note {
    color: var(--white-color);
    font-family: Roboto Slab;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
}


/**
 * GOOGLE MAP
 * Styles used on google map iframe 
 * -------------------------------------------------------------------
 */

/* class to embbed a responsive Google Map withou API Key */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

/* parameters to adjust the iframe that Google gives us */
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/**
 * BACK TO TOP
 * Styles used on back to top buttom 
 * -------------------------------------------------------------------
 */

/* back to top button in the bottom right corner of the screen */
#btn-back-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: none;
}

/**
 * POP-UP
 * Styles used on po-up message 
 * -------------------------------------------------------------------
 */

/* Message PopUp */
.MessagePopUp {
    position: fixed;
    z-index: 1;
    width: 50%;
    top: 10rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    row-gap: 20px;
    padding: 30px 50px 30px 50px;
    background-color: rgba(81, 88, 123, 0.9);
    border: 2px solid rgba(71, 79, 105, 0.5);
    border-radius: 20px;
    visibility: hidden;
    transition: 0.1s;
}

/* Message PopUp header */
.MessagePopUp-title {
    color: var(--almostwhite-color);
    font-family: Libre Baskerville;
    font-size: calc(1.8rem + 0.390625vw);
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

/* Message PopUp paragraph */
.MessagePopUp-text {
    color: var(--almostwhite-color);
    font-family: Roboto Slab;
    font-size: calc(1.2rem + 0.390625vw);
    line-height: calc(1.6rem + 0.390625vw);
    text-align: center;
    font-weight: 100;
}